{% extends '@SoftBpmLayoutLimitless/layout.html.twig' %}
{% block headTitle %}sidebar sticky{% endblock headTitle %}
{% block bodyClass %}{% endblock bodyClass %}

{% block headCoreThemeJSfiles %}
    {{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/softbpmlayoutlimitless/assets/js/pages/layout_sidebar_sticky.js') }}"></script>
{% endblock headCoreThemeJSfiles %}

{% block body %}

	<!-- Main navbar -->
    {% block pageMainNavbar %}
        {{ parent() }}
    {% endblock pageMainNavbar %}
	<!-- /main navbar -->

	<!-- Second navbar -->
    {% block pageSecondNavbar %}
        {{ parent() }}
    {% endblock pageSecondNavbar %}
	<!-- /second navbar -->

	<!-- Page header -->
    {% block pageHeader %}
        {{ parent() }}
    {% endblock pageHeader %}
	<!-- /page header -->

	<!-- Page container -->
    {% block pageContainer %}
		<div class="page-container">

			<!-- Page content -->
			{% block pageContent %}
				<div class="page-content">

					<!-- Main sidebar -->
					{% block mainSidebar %}
						<div class="sidebar sidebar-main sidebar-default">
							<div class="sidebar-fixed">
								<div class="sidebar-content">

									<!-- Main navigation -->
									<div class="sidebar-category sidebar-category-visible">
										<div class="category-title h6">
											<span>Main sidebar</span>
											<ul class="icons-list">
												<li><a href="#" data-action="collapse"></a></li>
											</ul>
										</div>

										<div class="category-content no-padding">
											<ul class="navigation navigation-main navigation-accordion">

												<!-- Main -->
												<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
												<li><a href="../index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
												<li>
													<a href="#"><i class="icon-stack"></i> <span>Starter kit</span></a>
													<ul>
														<li><a href="1_col.html">1 column</a></li>
														<li><a href="2_col.html">2 columns</a></li>
														<li>
															<a href="#">3 columns</a>
															<ul>
																<li><a href="3_col_dual.html">Dual sidebars</a></li>
																<li><a href="3_col_double.html">Double sidebars</a></li>
															</ul>
														</li>
														<li><a href="4_col.html">4 columns</a></li>
														<li><a href="layout_boxed.html">Boxed layout</a></li>
														<li class="navigation-divider"></li>
														<li><a href="layout_navbar_fixed_main.html">Fixed top navbar</a></li>
														<li><a href="layout_navbar_fixed_secondary.html">Fixed secondary navbar</a></li>
														<li><a href="layout_navbar_fixed_both.html">Both navbars fixed</a></li>
														<li class="active"><a href="layout_sidebar_sticky.html">Sticky sidebar</a></li>
													</ul>
												</li>
												<li><a href="../changelog.html"><i class="icon-list-unordered"></i> <span>Changelog</span></a></li>
												<!-- /main -->

											</ul>
										</div>
									</div>
									<!-- /main navigation -->

								</div>
							</div>
						</div>
					{% endblock mainSidebar %}
					<!-- /main sidebar -->

					<!-- Main content -->
					{% block mainContent %}
						{{ parent() }}
					{% endblock mainContent %}
					<!-- /main content -->

				</div>
			{% endblock pageContent %}
			<!-- /page content -->


			<!-- Footer -->
			{% block footer %}
				{{ parent() }}
			{% endblock footer %}
			<!-- /footer -->

		</div>
    {% endblock pageContainer %}
	<!-- /page container -->

{% endblock body %}